<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Sorin\Blogpost\Block\Post\PostComments $block */
?>

<hr class="comments-delimiter"/>
<div class="comments">
    <?= /* @noEscape */ $block->getChildHtml('blog.post.comments.list') ?>
    <?= /* @noEscape */ $block->getChildHtml('blog.post.comments.add') ?>
</div>



