<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */

/** @var \Sorin\Blogpost\ViewModel\Config $configViewModel */
$configViewModel = $block->getConfigViewModel();
?>

<?= /* @noEscape */ $secureRenderer->renderTag(
    'script',
    [],
    'window.postsConfig = '. /* @noEscape */ $configViewModel->getBlogConfigJson(),
    false
) ?>

<h1 data-bind="i18n: 'The insides you need to keep ahead'"></h1>

<div class="posts">
    <?= /* @noEscape */ $block->getChildHtml('blog.posts.add') ?>
    <?= /* @noEscape */ $block->getChildHtml('blog.posts.list') ?>
</div>
