<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
/** @var \Magento\Framework\Escaper $escaper */

/** @var \Sorin\Blogpost\ViewModel\Post\View $viewModel */
$viewModel = $block->getViewModel();

/** @var \Sorin\Blogpost\ViewModel\Config $configViewModel */
$configViewModel = $block->getConfigViewModel();

$post = $viewModel->getPost();
?>

<?php if ($post): ?>
    <header class="heading">
        <h1>
            <strong><?= $escaper->escapeHtml($post->getTitle())?></strong>
        </h1>
    </header>
    <div class="content">
        <div class="justify"><?= $escaper->escapeHtml($post->getContent())?></div>
    </div>
<?php else: ?>
    <div class="content">
        <div class="justify">
            <?= /* @noEscape */ __(
                'Sorry for inconvenience not being able to retrieve post details. Please come back later'
            )?>
        </div>
    </div>
<?php endif; ?>

<?php
    $scriptString = 'window.commentsConfig = ' . /* @noEscape */ $configViewModel->getBlogConfigJson() . "\n";
    $scriptString .= 'window.currentPostId = ' . /* @noEscape */ $viewModel->getCurrentPostId();

?>

<?= /* @noEscape */ $secureRenderer->renderTag(
    'script',
    [],
    'window.commentsConfig = '. $scriptString,
    false
) ?>
