<!--
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<h4 data-bind="i18n: 'Thoughts about this post'"></h4>
<div class="comments-list">
    <!-- ko foreach: {data: getComments(), as: 'comment'} -->
    <div class="msg">
        <div class="bubble">
            <div class="txt">
                <span class="name" data-bind="text: comment.name"></span>
                <span class="message" data-bind="text: comment.body"></span>
            </div>
            <div class="bubble-arrow"></div>
        </div>
    </div>
    <!-- /ko -->
</div>
