<!--
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<ul class="posts-list">
    <!-- ko foreach: {data: getPosts(), as: 'post'} -->
    <li>
        <a data-bind="attr: { href: '/blog/posts/view/id/' + post.id }">
            <h3 class="post-title" data-bind="text: post.title">
            </h3>
        </a>
    </li>
    <!-- /ko -->
</ul>
