<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\Escaper $escaper */
?>
<div class="block comment-form"
     id="block-comment-add"
     data-mage-init='{"collapsible":{
                    "active": false,
                    "openedState": "_show",
                    "closedState": "_hide",
                    "animate": 200,
                    "collapsible": true
                    }}'
>

    <div class="title" data-role="title">
        <button class="action-tertiary" type="button"><?= $escaper->escapeHtml(__('Add new comment')) ?></button>
    </div>
    <div class="content" data-role="content">
        <form id="blog-comment-form"
              action="#"
              method="post"
              data-mage-init='{"validation": {}, "blogpostcomment":{
                                       "nameSelector": "#comment_name",
                                       "emailSelector": "#comment_email",
                                       "commentSelector": "#comment_content",
                                       "formSelector": "#blog-comment-form",
                                       "addButton": "button.action.add"}}'>
            <div class="fieldset">
                <div class="field">
                    <label for="comment_name" class="label">
                        <span><?= $escaper->escapeHtml(__('Your name')) ?></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               class="input-text required-entry"
                               id="comment_name"
                               name="comment_name"
                               value=""
                               placeholder="<?= $escaper->escapeHtmlAttr(__('Your name')) ?>"
                               data-validate='{"required":true}'
                        />
                    </div>
                </div>
                <div class="field">
                    <label for="comment_email" class="label">
                        <span><?= $escaper->escapeHtml(__('Email')) ?></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               class="input-text required-entry validate-email"
                               id="comment_email"
                               name="comment_email"
                               value=""
                               placeholder="<?= $escaper->escapeHtmlAttr(__('Email')) ?>"
                               data-validate='{"required":true}'
                        />
                    </div>
                </div>
                <div class="field">
                    <label for="comment_content" class="label">
                        <span><?= $escaper->escapeHtml(__('Comment')) ?></span>
                    </label>
                    <div class="control">
                        <textarea id="comment_content"
                                  name="comment_content"
                                  cols="5"
                                  rows="2"
                                  class="textarea required-entry"
                                  placeholder="<?= $escaper->escapeHtmlAttr(__('Write your suggestion here')) ?>"
                                  data-validate='{"required":true}'
                        >
                        </textarea>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action add primary" type="button"
                                value="<?= $escaper->escapeHtmlAttr(__('Submit')) ?>">
                            <span><?= $escaper->escapeHtml(__('Submit')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
                <?= /* @noEscape */ $block->getChildHtml('captcha') ?>
        </form>
    </div>
</div>
