<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Sorin\Blogpost\Block\Post\PostComments $block */
?>
<div id="blog-comments-list" data-bind="scope: 'blogpostcomments'">
    <!-- ko template: getTemplate() --><!-- /ko -->

    <script type="text/x-magento-init">
        {
            "#blog-comments-list": {
                "Magento_Ui/js/core/app": <?= $block->getJsLayout();?>
            }
        }
    </script>
</div>


