<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\Escaper $escaper */
?>
<div class="block post-form"
     id="block-post-add"
     data-mage-init='{"collapsible":{
                    "active": false,
                    "openedState": "_show",
                    "closedState": "_hide",
                    "animate": 200,
                    "collapsible": true
                    }}'
>

    <div class="title" data-role="title">
        <button class="action-tertiary" type="button"><?= $escaper->escapeHtml(__('Add new post')) ?></button>
    </div>
    <div class="content" data-role="content">
        <form id="blog-post-form"
              action="#"
              method="post"
              data-mage-init='{"validation": {}, "blogpost":{"titleSelector": "#post_title",
                                       "contentSelector": "#post_content",
                                       "formSelector": "#blog-post-form",
                                       "addButton": "button.action.add"}}'>
            <div class="fieldset">
                <div class="field">
                    <label for="post_title" class="label">
                        <span><?= $escaper->escapeHtml(__('Title')) ?></span>
                    </label>
                    <div class="control">
                        <input type="text"
                               class="input-text required-entry"
                               id="post_title"
                               name="post_title"
                               value=""
                               placeholder="<?= $escaper->escapeHtmlAttr(__('Title')) ?>"
                               data-validate='{"required":true}'
                        />
                    </div>
                </div>
                <div class="field">
                    <label for="post_content" class="label">
                        <span><?= $escaper->escapeHtml(__('Content')) ?></span>
                    </label>
                    <div class="control">
                        <textarea id="post_content"
                                  name="post_content"
                                  cols="5"
                                  rows="3"
                                  class="textarea required-entry"
                                  placeholder="<?= $escaper->escapeHtmlAttr(__('Write your ideas here')) ?>"
                                  data-validate='{"required":true}'
                        >
                        </textarea>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action add primary" type="button"
                                value="<?= $escaper->escapeHtmlAttr(__('Submit')) ?>">
                            <span><?= $escaper->escapeHtml(__('Submit')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
                <?= /* @noEscape */ $block->getChildHtml('captcha') ?>
        </form>
    </div>
</div>
