<?php
/**
 * Copyright © Sorin_Blogpost. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Sorin\Blogpost\Block\Post\PostList $block */
?>
<div id="blog-posts-list" data-bind="scope: 'blogposts'">
    <!-- ko template: getTemplate() --><!-- /ko -->

    <script type="text/x-magento-init">
        {
            "#blog-posts-list": {
                "Magento_Ui/js/core/app": <?= $block->getJsLayout();?>
            }
        }
    </script>
</div>


